@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navfont {
  font-family: "Poppins", sans-serif;
}
.section_font {
  font-family: "Caveat", sans-serif;
}
/* Nailhub.css */
.nailbg{
  background-image: url("..//..//src/assets/Nail_BG.webp");
  background-size: cover;
  background-position: center;
}

.nailclient{
  background-image: url("..//..//src/assets/Background_Image_Nailhub.webp");
  background-size: cover;
  background-position: center;
}
.client {
  background-image: url("../../src//assets//NailHub_Info.webp");
  background-size: cover;
  background-position: center;
}
.aboutus {
  background-image: url("../../src//assets//About_US.webp");
  background-size: cover;
  background-position: center;
}

.testimonials {
  background-image: url("../../src//assets//NailExtension.webp");
  background-size: cover;
  background-position: center;
}
.services{
  background-image: url("../../src//assets//Servicesbg1.webp");
  background-size: cover;
  background-position: center;
}
.faq{
  background-image: url("../../src//assets//FAQ.webp");
  background-size: cover;
  background-position: center;
}
.gallery{
  background-image: url("../../src//assets//Gallerybg.webp");
  background-size: cover;
  background-position: center;
}
.shop_bg{
  background-image: url("../../src//assets//Shop_BG.webp");
  background-size: cover;
  background-position: center;
}
.contactus {
  background-image: url("../../src//assets//Contactusbg.webp");
  background-size: cover;
  background-position: center;
}
/* AboutUs  */
/* styles.css or your main CSS file */
@keyframes vibgyor {
  0% {
    color: violet;
  }
  14% {
    color: indigo;
  }
  28% {
    color: blue;
  }
  42% {
    color: green;
  }
  57% {
    color: yellow;
  }
  71% {
    color: orange;
  }
  85% {
    color: red;
  }
  100% {
    color: violet;
  }
}

.animate-vibgyor {
  animation: vibgyor 5s linear infinite;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .client_section {
    margin-top: 300px;
  }
}
/* src/Nailhub.css */
.tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #ccc;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #f0f0f0;
}

.tab.active {
  border-bottom: 2px solid #ff6347;
  font-weight: bold;
}

.tab-content {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
}
